.header_grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
}

.grid_attrib {
    font-family: Arial;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}

.grid_attrib:hover {
    opacity: 0.6;
    cursor: pointer;
    transition-duration: 0.5s;
}