.header_grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
}

.grid_attrib {
    font-family: Arial;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 175%;
    color: lightblue;
    transition-duration: 0.3s;
}

.grid_attrib:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    color: white;
    filter: drop-shadow(-5px 10px 10px black);
}
