.header_image {
    max-width: 600px;
    min-width: 300px;
    border-radius: 5px;
    padding: 20px;
}

.header_div {
    display: flex;
    justify-content: center;
}

.header_title {
    font-family: Arial;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.button
{
    display: flex;
    justify-content: center;
    padding: 5px;
}
